body {
  font-family: 'Russo One', sans-serif;
  height: none;
}

#header-container {
  background-color: #FFCF00;
  color: #fff;
}

#header-container .login,
#header-container .navbar-toggler {
  color: #fff;
}

#menu-container {
  background-color: #F2F2F2;
}

.btn.btn-lego {
  background-color: #FFCF00;
  color: #fff;
}

.btn.btn-lego:hover {
  background-color: #FFCF50;
}

input.form-control:focus {
  border-color: #FFCF00;
}

#search-bar {
  padding: 1em;
}

#productosCarousel img {
  margin: 0 auto;
}